BODY {background: #002659;}
H1 {font-family: arial, helvetica; font-size: 16pt; font-style: italic; color: #CCFFFF;}
H2 {font-family: arial, helvetica; font-size: 14pt; font-style: italic; color: #CCFFFF;}
H3 {font-family: arial, helvetica; font-size: 12pt; font-style: italic; color: #CCFFFF;}
TD {font-family: arial, helvetica; font-size: 8pt; color: #CCFFFF;}
TH {font-family: arial, helvetica; font-size: 10pt; color: #CCFFFF;}
P, LI {font-family: arial, helvetica; font-size: 10pt; color: #CCFFFF;}
A.P {font-family: arial, helvetica; color: #CCFFFF; text-decoration: none}
LI {font-family: arial, helvetica; color: #CCFFFF;}
A.LI {font-family: arial, helvetica; color: #CCFFFF; text-decoration: none}
A:link { color: #B0C4DE; }
A:visited { color: #B0C4DE; }
A:active  { color: #B0C4DE; }
A:hover   { color: #B0C4DE; }
